<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen+Mono" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
  <script type="text/javascript" src="{{ "/assets/js/headroom.min.js" | relative_url }}" defer></script>
  <script type="text/javascript" src="{{ "/assets/js/menu.min.js" | relative_url }}" defer></script>

  <title>{{ page.title | escape }}</title>

  {% if jekyll.environment == 'production' and site.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}
</head>
