---
layout: default
---

{% for post in site.posts %}
  <article class="entry">
    <header>
      <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
    </header>
    <section>
      {{ post.excerpt }}
    </section>
    <footer >
      <div class="minilogo"></div>
      <div>
        {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
        <strong>{{ post.author }}</strong>
        <span>{{ post.date | date: date_format }}</span>
      </div>
    </footer>
  </article>
{% endfor %}
