#main-footer {
  box-shadow: 0px 0px 1px get-theme-color('divider-color');
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: get-layout-color('footer-bar');

  #main-footer--content {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media-query (map-get($nc-breakpoints, 'xlarge')) {
      width: 1140px;
    }

    div.legend {
      background-color: darken(get-theme-color('divider-color'), 20%);
      color: transparent;
      text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
      -webkit-background-clip: text;
         -moz-background-clip: text;
              background-clip: text;
      font-size: get-font-em(17px);
    }

    ul {
      list-style: none;
      display: block;
      margin: 0;
      padding-left: 0;

      a {
        color: get-theme-color('primary-color');
      }
    }
  }
}
