#main-header {
  border-top: solid 2px get-theme-color('accent-color');
  background: darken(get-layout-color('app-bar'), 5%);
  box-shadow: 0 1px 0 lighten(get-theme-color('divider-color'), 15%), 0 1px 6px get-theme-color('divider-color');
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .logo {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    #btn-menu {
      border: none;
      background: none;

      @include media-query (map-get($nc-breakpoints, 'medium')) {
        display: none;
      }
    }
  }

  #main-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: get-layout-color('app-bar');

    a {
     color: get-theme-color('primary-color');
     text-decoration: none;
     display: inline-block;
     padding: 10px 4px;
     text-align: center;
     border: solid 2px get-layout-color('app-bar');

     &:hover {
       border-bottom: solid 2px get-theme-color('primary-color');
     }
    }

    i {
      margin-right: 5px;
    }
  }

  #topics-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    opacity: 1;
    transition: opacity 1s, height 1s;

    a {
      padding: 10px 15px;
      background: get-layout-color('app-bar');
      text-decoration: none;

      &:hover {
        color: get-layout-color('app-bar');
        background: get-theme-color('primary-color');
      }
    }

    &.topics-menu__hide {
      opacity: 0;
      height: 0;
      transition: opacity 1s, height 1s;
    }
  }
}

/* Efectos del menú. */

.headroom {
  transition: transform 0.3s ease;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
