#main-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;

  @include media-query (map-get($nc-breakpoints, 'xlarge')) {
    width: 1140px;
  }

  .entry {
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 1px 2px get-theme-color('divider-color');
    border-top: 1px get-theme-color('divider-color') solid;

    h3, h3 a {
      color: get-theme-color('primary-color-dark');
    }

    &:first-child {
      border-top: none;
    }

    footer {
      text-align: right;
      color: get-theme-color('divider-color');
    }
  }
}
