#topic {
  background: white;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 1px 2px get-theme-color('divider-color');

  h1, h2, h3, h4, h5, h6 {
    color: get-theme-color('primary-color-dark');
  }

  header {
    margin-bottom: 20px;

    h1 {
      border-bottom: solid 1px get-theme-color('accent-color');
      margin-bottom: 4px;
    }

    .post-info {
      text-align: right;
      color: get-theme-color('divider-color');
    }
  }

  p {
    img {
      width: 100%;
      height: auto;
     
      @include media-query (map-get($nc-breakpoints, 'medium')) {
	width: auto;
        max-width: 580px
      }
    }
  }
}
