* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
   height: 100%;
}

body {
	background: get-layout-color('background');
}


table {
	display: block;
	width: 100%;
	overflow: auto;
	word-break: normal;
	word-break: keep-all; // For Firefox to horizontally scroll wider tables.
	-webkit-overflow-scrolling: touch;
	border-collapse: collapse;
	border-spacing: 0;

	th {
		font-weight: bold;
	}

	th, td {
		padding: 0.5rem 1rem;
		border: 1px solid get-theme-color('divider-color');
	}

	tr > th {
		background-color: rgba(get-theme-color('divider-color'), 0.25);
	}
}
