///
/// _typography.scss
/// Created Mar 28, 2018, 22:23:03
///
/// @author Freddy Barrera
///
/// This partial help with the fonts.
///

legend {
    font-family: get-font-family('header');
    font-weight: lighter;
}

///
/// Headers
///
@for $i from 1 through 6 {
    h#{$i} {
        $sustraendo: (($i - 1) * 4);
        $pixels: ((32 - $sustraendo) * 1px);
        margin-bottom: 20px;
        margin-top: 10px;
        font-family: get-font-family('header');
        font-weight: lighter;
        font-size: get-font-em($pixels);
    }
}

label {
    font-weight: bold;
}

/// Paragraphs and another help
p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 15px;
    font: get-font-em(16px) get-font-family('body');
    color: get-theme-color('primary-text-color');
}

a {
    text-decoration: none;
    color: get-theme-color('accent-color');

    &:hover {
        text-decoration: underline;
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

body, main, header, footer, section, div {
    font: get-font-em(16px) get-font-family('body');
}

ul, ol {
    display: block;
    margin: 1em 0;
    padding-left: 40px;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

code, kbd, samp {
  font-family: get-font-family('source');
}

::selection, ::-moz-selection {
    background: get-theme-color('accent-color');
    color: get-theme-color('primary-color-text');
    text-shadow: none;
}
